body {
  font-family: Helvetica, Arial, sans-serif;
  color: #333;
}

h1 {
  margin: 0;
  font-size: 42px;
  line-height: 58px;
}

h2 {
  margin: 0;
  margin-bottom: 5px;
  font-size: 26px;
  line-height: 36px;
}

p {
  margin: 0 0 9px;
  font-size: 13px;
  line-height: 18px;
}

a {
  color: #08C;
  text-decoration: none;
}

a:hover {
  color: #005580;
  text-decoration: underline;
}

.container {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  margin: 16px 0;
  border-bottom: 1px solid #EEE;
}

.section {
  margin: 20px 0;
}

